*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background : linear-gradient(to bottom left, #005C97, #363795);
    text-align:center ;

    }

    h1 {
        font-family: "cambria";
        font-size: clamp(32px, 6vmin, 8vmin);
        text-align: inherit;
        }

    p {
        font-size:clamp(16px, 3vmin, 8vmin);
        text-align: inherit;
        font-family: "helvetica";
    }
    table {
        padding: clamp(16px, 3vmin, 8vmin);
    }
