*{
    box-sizing: border-box;
}

:root{
    --primaryColorBackground: #A9D6E5;
    --secondaryColorBackground: #2C7DA0;
    --tertiaryColorBackground: #012A4A;

    --primaryColorText: black;
    --primaryColorText: orange;
    --primaryColorText: white;
    --titleFont: 'Noto Sans JP', sans-serif;
}

html { 
    background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{

    text-align: center;
    padding: 3rem;

    }

    h1 {
        font-family: var(--titleFont);
        font-weight: 800;
        font-size: clamp(32px, 6vmin, 8vmin);
        text-align: inherit;
        }

    p {
        font-size: clamp(16px, 3vmin, 8vmin);
        text-align: inherit;
    }
    
    table {
        border-collapse: collapse;
        padding: clamp(16px, 3vmin, 8vmin);
        border-radius: 10px;
    }

        .headerrow{
            background : linear-gradient(-150deg, #b6215a, #363795);
        }
        .datarow{
            background : linear-gradient(-68deg, #b6215a, #363795);
        }
